<!DOCTYPE html>
<html>
<head>
  <title>My Blog - Update</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-primary"> 
  <div class="container bg-warning mt-5 mb-3 border text-center">
    <%- include('navbar', { currentPage: 'Auth' }) %>
    <div class="d-flex justify-content-end p-3">
      <h1>You don't have authorization to edit this post.</h1>
      <a href="javascript:history.go(-1)" class="m-2 text-decoration-none btn btn-link bg-primary text-light p-3">OK</a>
      
    </div>
  </div>


</body>
</html>
